/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

h1,h2 {
    color: #3f51b5;,
    font-family: 'Roboto, "Helvetica Neue", sans-serif'
}

h1 {
    margin-top: 25px;
    font-weight: bold;
}

h2 {
    margin-top: 50px;
}

.block{
    width: 184px;
}