<h2>Statistics</h2>
<table mat-table class="table-striped mat-elevation-z8" *ngIf='scoresObj.length != 0'>
    <thead>
        <tr>
            <th>Player</th>
            <th>Victories</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let player of scoresObj'>
            <td>{{player.playerName}}</td>
            <td>{{player.victories}}</td>
        </tr>
    </tbody>
</table>
<p *ngIf='scoresObj.length == 0'>There is no data yet</p>

<button mat-button mat-raised-button color='primary' class='homeBtn' (click)='goHome()'>Home</button>