<h2>Enter Players Names</h2>

<mat-form-field>
    <input matInput placeholder="Player 1" [(ngModel)]='players.player1' type="text" required>
</mat-form-field>
<br>
<mat-form-field>
    <input matInput placeholder="Player 2" [(ngModel)]='players.player2' type="text" required>
</mat-form-field>
<br>
<button (click)="startGame()" mat-raised-button color='primary' class='block'>Start</button>