
<div class="row">
  <div class='col-md-7'>
    <form>
      <p>
        <app-move-chooser [moves]="availableMoves"></app-move-chooser>
      </p>
    </form>
  </div>
  <div class="col-md-5">
    <app-score></app-score>
  </div>
</div>