<p>
  <app-round [round]='roundNumber'></app-round>
  <app-turn [data]='playerName'></app-turn>
</p>
<p>
  <mat-form-field>
    <mat-select [value]="move" placeholder="Select Move" [(ngModel)]='selectedMove' required>
      <mat-option *ngFor="let move of moves" [value]="move">{{move}}</mat-option>
    </mat-select>
  </mat-form-field>
</p>
<p>
  <button mat-button mat-raised-button (click)='play(selectedMove)' class='block'>Ok</button>
</p>