<div class='container'>
    <h1>We have a WINNER!!</h1>
</div>
<h2>{{winner}} is the new EMPEROR!</h2>

<div class="button">
    <button mat-button mat-raised-button (click)='playAgain()' class='block'>Play Again</button>
</div>