<div *ngIf='scores.length !=0'>
  <h2 class='title'>Score</h2>
  <table class="table mat-elevation-z8">
    <tr>
      <th>Round</th>
      <th>Winner</th>
    </tr>
    <tr *ngFor='let score of scores; let i=index' >
      <td>{{i+1}}</td>
      <td>{{score}}</td>
    </tr>
  </table>

</div>